table {
  border: 1px solid black;
  margin: 0 auto;
  padding-top: 20px;
}

td {
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

td:active {
  background: gray;
  cursor: pointer;
}

input {
  text-align: right;
}

input:focus {
  outline: none;
}
